#info {
  background: no-repeat center / cover
    url(../assets/images/Background_Intro.png);
  padding: 0 10.1875rem 10.1875rem 10.1875rem;

  & h1 + p {
    padding-bottom: 5rem;
    line-height: 1.4;
    max-width: 50rem;
  }

  & header > img {
    margin-block: 5rem 3.5rem;
    border: 0.2rem solid var(--red);
    width: 7rem;
    height: 7rem;
    border-radius: 100px;
    padding: 0.5rem;
  }
  & ul + img {
    padding-top: 5.875rem;
  }

  & h1 {
    font-size: var(--fs-ttl-lg);
    padding-block: 0.5rem 1.25rem;
  }
  & h4 > span {
    color: var(--red);
  }
  li.language {
    padding: 0.5rem 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-300);
    border: 1px solid transparent;
    border-radius: 100px;
    width: fit-content;
    gap: 0.5rem;
  }
}
